[user]
	name = Devon Stewart
	useconfigonly = true
[core]
	excludesfile = /home/blast/.gitignore_global
[color]
	ui = auto
[alias]
	lola = log --graph --decorate=full --decorate-refs=refs/bisect --decorate-refs=refs/heads --decorate-refs=refs/tags --decorate-refs=refs/remotes --decorate-refs=refs/stash --decorate-refs=HEAD --pretty=oneline --abbrev-commit --all
	lol = log --graph --decorate=full --decorate-refs=refs/ --decorate-refs=HEAD --pretty=oneline --abbrev-commit
	reword = commit --amend
	fixup = commit --amend -C@
[push]
	default = current
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[init]
	defaultBranch = master
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
