[user]
	name = Devon Stewart
	useconfigonly = true
[core]
	excludesfile = /home/blast/.gitignore_global
[color]
	ui = auto
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	reword = commit --amend
	fixup = commit --amend -C@
[push]
	default = current
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[init]
	defaultBranch = master
